<div class="social">
    <ul>
        <li><a href="#">Contact Us <i class="fa fa-phone" aria-hidden="true"></i></a></li>
        <li><a href="mailto:scholarsphere2@gmail.com" target="_blank">Mail Us <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="/#about-us">About Us <i class="fa fa-users" aria-hidden="true"></i></a></li>
        <li><a href="#">Follow Us <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
</div>