html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 1% 4%;
    
}

body {
    /* background: linear-gradient(#13005A, #00337C, #1C82AD, #03C988); */
    /* background: linear-gradient(#3586ff, #03C988, #13005a); */
    background-color: #fff;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.social {
    position: fixed;
    top: 30%;
    z-index: 1001;
    width: 4%;
}

.social ul {
    padding: 0px;
    transform: translate(-270px,0);
}

.social ul li {
    display: block;
    margin: 25px;
    background: #1c82ad;
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.5s;
}

.social ul li:hover {
    transform: translate(120px,0);
    background: #03c988;
    transition: all 1.5s;
}

.social ul li:hover a {
    color: white;
}

.social ul li:hover i{
    color: #03c988;
    background: white;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 20px;
}
@media (max-width: 768px){
    .social{
        display: none;
    }
    .wave{
        display: none;
    }
}